<ion-header>
  <ion-navbar color="light" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-list>
    <!-- <button ion-item *ngFor="let item of items" (click)="presentActionSheet()">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button> -->
    <button ion-item *ngFor="let boat of boatList" (click)="itemSelected(boat)" (click)="presentActionSheet()">
        <ion-icon name='boat' item-start></ion-icon>
        {{boat.Name}}
        <div class="item-note" item-end>
          
        </div>
      </button>

  </ion-list>

  

  

</ion-content>
<ion-footer>
    
        
      
      <ion-toolbar>
          
          <button ion-button round outline color="dark" icon-end (click)="addPage()" ><ion-icon name="add"></ion-icon></button>
        </ion-toolbar>
</ion-footer>