page-initial {

 .span-error-login{
     color:red;
     font-size: 15px;
 }
 }

.getstart {
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background-image: url('../../assets/imgs/pp.jpeg');
    // background: #111D12;
    // // background: url('../../img/getstart.png');
    // background-repeat: no-repeat;
    // background-size:cover;
    }